.container{
  display: grid;
  grid-template-rows: 200px 2fr;
  overflow: hidden;
  font-size: 1em; 
  height: 100%;
  justify-items: start;
  align-items: center;
  width: 100%;
  row-gap: 0.25em;
  background-color: rgba(42, 94, 140, 0.40);
  padding: 5px;
  font-size: 14px;
}

.container:hover{
  box-shadow: inset 0px 0px 1px 4px rgba(42, 94, 140, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.image{
  position: relative;
  width: 100%;
  height: 100%;
}

.info{
  font-size: 1em;
}