.container{
  display: grid;
  grid-template-rows: 7fr 1fr 1fr;
  overflow: hidden;
  font-size: 1em; 
  height: auto;
  justify-items: start;
  align-items: center;
  width: inherit;
  row-gap: 1em;
  background-color: rgba(242, 206, 140, 1);
  padding: 5px;
}

.container:hover{
  box-shadow: inset 0px 0px 2px 3px rgba(42, 94, 140, 0.1);
  cursor: pointer;
}

.image{
  position: relative;
  width: 100%;
  height: 100%;
}

.info{
  font-size: 1em;
}