.container{
  background-color: #ffecb3; 
}

.banner{
  height: 25vh;
}

.bannerText{
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  width: max-content;
  transform: translateX(-50%) translateY(-50%); 
}

.advisorSection{
  display: grid;
 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
}

@media all and (max-width: 768px){
  .bannerText{
    position: relative;
    top: 65%;
    left: 50%;
    font-size: 5vw;
    width: max-content;
    transform: translateX(-50%) translateY(-50%); 
  }
}