.container{
  background-color: white; 
  height: fit-content;
}

.banner{
  height: 40vh;
  background-color: rgba(42, 94, 140, 1);
  width: 100%;
  margin: 0 auto;
}

.bannerImage{
  position: relative;
  height: inherit;
  
}

.bannerText{
  position: relative;
  left: 50%;
  font-size: 5vw;
  width: max-content;
  transform: translateX(-50%) translateY(-50%); 
}

.advisorSection{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10vw, 15vw));
  grid-template-rows: repeat(auto-fit, max-content);
  row-gap: 5vw;
  height: max-content;
  width: 85%;
  margin: 10em auto;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media all and (max-width: 768px){
  .banner{
    height: 25vh;
  }
  .bannerText{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 5vw;
    width: max-content;
    transform: translateX(-50%) translateY(-75%); 
  }

  .advisorSection{
    grid-template-columns: repeat(auto-fit, minmax(75vw,1fr));
    margin: 0.5em auto;
    gap: 0.5em;
    
  }
}