.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  min-height: 100vh;
  margin: 2em 4em;
  column-gap: 5em;
}

.left{
  display: grid;
  grid-template-rows:  1fr 1fr;
  row-gap: 5em;
}

.image{
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: inherit;
  min-height: 100px;
  background-color: rgba(114, 94, 92, 1);
}

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: fit-content;
  justify-items: start;
  row-gap: 1em;
  background-color: rgba(42, 94, 140, 0.25);
}

.right{
  display: grid;
  grid-template-rows: max-content 5fr;
  row-gap: 3em;
  background-color: rgba(114, 94, 92, 1);
  color: white;
}

.right h3{
  font-size: 2.5em;
  text-align: center;
  background-color: rgba(114, 94, 92, 1);;
}

.right h4{
  font-size: 1.75em;
  background-color: rgba(114, 94, 92, 1);
}

.right h5{
  font-size: 1.25em;
  text-align: center;
  background-color: rgba(114, 94, 92, 1);
}

.right p{
  font-size: 1em;
  max-width: 50ch;
  margin: 1em 2em;
}

/* 
  TAB BREAK
*/
@media all and (max-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    min-height: 100vh;
    column-gap: 1em;
    margin: 0 0.25em;
    font-size: 1.1em;
  }

  .left{
    display: grid;
    grid-template-rows:  1fr 1fr;
    row-gap: 3em;
  }

  .contact{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1em;
    text-align: center;
    
  }

  .right{
    display: grid;
    grid-template-rows: max-content 1fr;
    row-gap: 1em;
    font-size: 0.80em;
  }
  

}