.container{
  background-color: white; 
}

.banner{
  height: 25vh;
  background-color: rgba(42, 94, 140, 1);
}

.bannerText{
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  width: max-content;
  transform: translateX(-50%) translateY(-50%); 
}

.advisorSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  row-gap: 7vw;
  height: max-content;

  margin: 10em 0;
  justify-items: center;
  align-content: center;
}

@media all and (max-width: 768px){
  .banner{
    height: 25vh;
  }
  .bannerText{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 5vw;
    width: max-content;
    transform: translateX(-50%) translateY(-75%); 
  }

  .advisorSection{
    grid-template-columns: repeat(2, minmax(4em, 1fr));
    margin: 1em;
    gap: 1em;
  }
}