.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  min-height: 100vh;
  margin: 2em 4em;
  column-gap: 5em;
}

.left{
  display: grid;
  grid-template-rows:  1fr 1fr;
  row-gap: 5em;
}

.image{
  position: relative;
  width: 100%;
  height: inherit;
  min-height: 100px;
  background-color: rgba(114, 94, 92, 1);
}

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: fit-content;
  justify-items: start;
  row-gap: 1em;
}

/* 
  TAB BREAK
*/
@media all and (max-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    min-height: 100vh;
    margin: 2em;
    column-gap: 5em;
  }

  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    row-gap: 1em;
  }

}