.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.details{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 30vw));
  justify-content: center;
  justify-items: center;
  align-items: center;
}


.details > * > *{
  margin: 1em 0;
}

.form{
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  align-content: center;
  margin: 0 auto;
}