.mainBannerContainer{
  max-height: 50vh;
  height: 75vw;
  /* background-image: url('../public/assets/media/alchemyBanner.jpg'); */
  /* background-image: url('../public/assets/media/Vitruve_Luc_Viatour_web.png'); */
  /* background-repeat: repeat-x; */
  background-color: rgba(114, 94, 92, 1);
  background-size: contain;
  background-repeat: space;
  z-index: 1;
}

.slogan{
  cursor: default;
  user-select: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: black;
  font-size: 5vw;
  text-align: center;
  font-weight: lighter;
}

@media all and (max-width: 768px){
  
  .slogan{
    font-size: 12vw;
    letter-spacing: 0.1em;
  }
}