.mainBannerContainer{
  max-height: 50vh;
  height: 75vw;
  background-image: url('../public/assets/media/Vitruve_Luc_Viatour_web.png');
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 1;
}

.slogan{
  cursor: default;
  user-select: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: black;
  font-size: 5vw;
  text-align: center;
  letter-spacing: -1.5px;
  font-weight: lighter;
  size: 96ch;
}