@font-face{
  font-family: banner;
  src:  url(../public/assets/fonts/miranda.ttf)
}

.mainBannerContainer{
  max-height: 50vh;
  height: 50vw;
  background-image: url('../public/assets/media/alchemyBanner.jpg');
  /* background-image: url('../public/assets/media/Vitruve_Luc_Viatour_web.png'); */
  background-repeat: no-repeat;
  background-color: rgba(114, 94, 92, 1);
  background-size: contain;
  background-position: center;
  width: 100%;
  z-index: 1;
}

.slogan{
  font-family: banner;
  cursor: default;
  user-select: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: black;
  font-size: 5vw;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.5ch;
}

@media all and (max-width: 768px){
  
  .slogan{
    font-size: 6vw;
    letter-spacing: 0.1em;
  }
}